h1{ 
    border: solid;
   background-color: gray;
   
  }   
h4{
     margin-left: 1px;
}
.l1{
    margin-left: 70px;
    margin-top: -40px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    color: blue;
}
h5::before{
    color: blue;
}
#p1{
    border: 2px solid black;
    margin-top: -20px;
   background-color: aqua;
}
#p1 h3{
    display: inline;
}
h3{
    margin-right: 20px;
}
a{
    text-decoration: none;
}
main{
    border: solid ;
    height: 250px;
    margin-top: -10px;
    background-color: grey;
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
main p{
    margin-left: 1px;
}
:target h2{
    background-color: green;
}
:target{
     background-color: orange;
}
.b1{
    margin-left: 300px;
}
